---
import Layout from "../layouts/Layout.astro"
import daysToChristmas from "../actions/daysToChristmas"
import XmasDoors from "../data/XmasDoors.json"
import XmasCard from "../components/XmasCard"

const daysToXmas = daysToChristmas()
---

<Layout title="Julekalender">
  <main class="flex flex-col items-center text-center">
    <h1 id="header" class="text-4xl font-bold mb-4">
      {daysToXmas}
      {daysToXmas > 1 ? "dager" : "dag"} til julaften
    </h1>

    <div class="w-full relative border-primary flex flex-wrap gap-4 justify-center">
      {XmasDoors.map((door) => <XmasCard client:load id={door.id} content={door.content} details={door.details} />)}
    </div>
  </main>
  <script>
    import daysToChristmas from "../actions/daysToChristmas"

    let xxxMode = false
    let xList = 0
    const daysToXmas = daysToChristmas()

    const updateHeader = () => {
      const header = document.getElementById("header")
      if (header) {
        if (xxxMode) {
          document.body.style.backgroundColor = "#000000"
          document.body.style.color = "#ffa500"
          header.textContent = "Sug og slikk, nå er det juuul!"
        } else {
          header.textContent = `Nå kan du kose deg, det er bare ${daysToXmas} ${daysToXmas > 1 ? "dager" : "dag"} til julaften`
        }
      }
    }
    const handleKeyDown = (event: KeyboardEvent) => {
      if (event.key === "x") {
        xList++
      }
      if (xList === 3) {
        xxxMode = true
        updateHeader()
      }
    }
    document.addEventListener("keydown", handleKeyDown)
  </script>
</Layout>
